# GroupBy and joins in Spark

## Import libraries

In [1]:
import pyspark
from pyspark.sql import SparkSession

## Create a Spark session

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("groupBy and joins") \
    .getOrCreate()

24/02/23 13:09:48 WARN Utils: Your hostname, GRAD0365UBUNTU resolves to a loopback address: 127.0.1.1; using 192.168.68.103 instead (on interface wlp0s20f3)
24/02/23 13:09:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/23 13:09:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## GroupBy
### Green taxi dataset

In [3]:
df_green = spark.read.parquet("../data/pq/green/*/*")
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_green.createOrReplaceTempView("green_data")

Let's imagine we have the following query:

In [7]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour,
    PULocationID AS revenue_zone,
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green_data
WHERE lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [8]:
df_green_revenue.show(5)

+-------------------+------------+-----------------+--------------+
|               hour|revenue_zone|           amount|number_records|
+-------------------+------------+-----------------+--------------+
|2020-01-24 09:00:00|          81|            59.49|             2|
|2020-01-04 21:00:00|          25|           513.83|            32|
|2020-01-10 19:00:00|          66|545.6800000000001|            27|
|2020-01-30 07:00:00|          75|556.6600000000001|            40|
|2020-01-18 01:00:00|         260|           144.56|            12|
+-------------------+------------+-----------------+--------------+
only showing top 5 rows

In [9]:
df_green_revenue \
    .repartition(20) \
    .write.parquet("../data/report/revenue/green", mode="overwrite")

24/02/23 13:16:47 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 13:16:47 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 84,47% for 8 writers
24/02/23 13:16:47 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 13:16:47 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 13:16:47 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 84,47% for 8 writers
24/02/23 13:16:47 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers

This query outputs the total revenue and amount of trips per hour per zone, so we need to group by hour and zones to get the desired results.

On the one hand, we need to group data which is split into different partitions. On the other hand, we have a cluster with some executors, which can only process an individual partition at a time. Spark solves this issue by separating the grouping in 2 stages:

1. In the first stage, each executor performs the _GROUP BY_ operation within the partition, and outputs the result to a temporary partition. These temporary partitions are the **intermediate results**.
2. In the second stage, we combine the intermediate results by **reshuffling** the data: Spark puts all the records with the same keys (in our example, the _GROUP BY_ keys, which are _hour_ and _revenue\_zone_) in the same partition. The algorithm that does this is called ***sort merge***. Once the shuffling has finished, Spark applies the _GROUP BY_ again to these new partitions, and combines (**reduces**) the records to the final output.
    * NOTE: after reshuffling the data, one partition may contain more than one key, but all the records with the same key must be in the same partition.

Shuffling is an expensive operation, so generally we would want to reduce the amount of data to shuffle when querying.

### Yellow taxi dataset

Bellow we apply the same operations that we just did, but for Yellow Taxi data.

In [10]:
df_yellow = spark.read.parquet("../data/pq/yellow/*/*")
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [11]:
df_yellow.createOrReplaceTempView("yellow_data")

In [12]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour,
    PULocationID AS revenue_zone,
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow_data
WHERE tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [13]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet("../data/report/revenue/yellow", mode="overwrite")

24/02/23 13:21:56 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 13:21:56 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 84,47% for 8 writers
24/02/23 13:21:56 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 13:21:56 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 13:21:56 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 84,47% for 8 writers
24/02/23 13:21:56 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers

## Joins

Spark uses similar mechanisms for _GROUP BY_ and for _JOIN_ operations. But we can differenciate two cases: joining two large tables and joining a large table and a small table. 

### Joining two large tables

We now want to join the two tables we've just created by hour and by zone. So, before the join, we create two temporary tables renaming some columns, to be able to differenciate them in the final table. Then, we perform an **outer join** to include records that are only in one of the temporary dataframes.

In [14]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed("amount", "green_amount") \
    .withColumnRenamed("number_records", "green_number_records")

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed("amount", "yellow_amount") \
    .withColumnRenamed("number_records", "yellow_number_records")

In [15]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=["hour", "revenue_zone"], how="outer")

In [16]:
df_join

DataFrame[hour: timestamp, revenue_zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

Once we trigger an action (`show()`, `write()`, ...) on `df_join`, Spark creates the two temporary dataframes and the final join dataframe. If we check the DAG in the Spark UI we will see three stages:
* Stages 1 and 2 belong to the creation of `df_green_revenue_tmp` and `df_yellow_revenue_tmp`.
* For stage 3, let's name `Y1, Y2, ..., Yn` the yellow taxi records, `G1, G2, ..., Gm` the green taxi records, and `K = (hour H, revenue_zone Z)` our composite key. So we can express the records as `(Kn, Yn)` for yellow taxi and `(Km, Gm)` for green taxi. In the beginning of this stage, we have yellow taxi records and green taxi records distributed along their own partitions (that means, in a partition we do not have yet mixed yellow and green taxi records). So Spark **reshuffles** the data, using the **sort merge join algorithm**, to make sure that records with the same key are the same partition, and then it **reduces** the records by joining yellow and green taxi data with the same keys in one final record.

In [17]:
df_join.show(5)

+-------------------+------------+------------------+--------------------+------------------+---------------------+
|               hour|revenue_zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|          22|              15.8|                   1|              null|                 null|
|2020-01-01 00:00:00|          25|             531.0|                  26|            324.35|                   16|
|2020-01-01 00:00:00|          55|129.29000000000002|                   4|              null|                 null|
|2020-01-01 00:00:00|          56|             99.69|                   3|              18.1|                    2|
|2020-01-01 00:00:00|          60|            160.04|                   6|57.620000000000005|                    2|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
only showing top 5 rows

In [18]:
df_join.write.parquet("../data/report/revenue/total", mode="overwrite")

24/02/23 17:31:33 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 17:31:33 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 84,47% for 8 writers

24/02/23 17:31:34 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers

In [19]:
df_join = spark.read.parquet("../data/report/revenue/total")
df_join.show(5)

+-------------------+------------+------------------+--------------------+------------------+---------------------+
|               hour|revenue_zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|          17|            195.03|                   9|220.20999999999998|                    8|
|2020-01-01 00:00:00|          18|               7.8|                   1|               5.8|                    1|
|2020-01-01 00:00:00|          24|              87.6|                   3|            754.95|                   45|
|2020-01-01 00:00:00|          32| 68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|          49|266.76000000000005|                  14|            185.65|                   10|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
only showing top 5 rows

### Joining a large and a small table

We are going to use the `zones` lookup table to identify the `revenue_zone` from `df_join` table.

In this case, Spark performs **broadcasting**, instead of **sort merge**. It does it that way because the `zones` table is very small. Spark _broadcasts_ or sends a copy of the entire table to each of the executors, and then each executor joins each partition of the big table in memory by performing a lookup on the local broadcasted table. That way there is no need for reshuffling, and this greatly speeds up the join operation.

In [20]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -O "../data/taxi_zone_lookup.csv"

df_zones = spark.read \
    .option("header", True) \
    .csv("../data/taxi_zone_lookup.csv")
df_zones.show(5)

--2024-02-23 17:34:24--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolviendo github.com (github.com)... 140.82.121.3
Conectando con github.com (github.com)[140.82.121.3]:443... conectado.
Petición HTTP enviada, esperando respuesta... 302 Found
Ubicación: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T163424Z&X-Amz-Expires=300&X-Amz-Signature=4e254bc4eac9e528c7d6dc32ffbac549c999c6afbc326015be380e736cc6d34b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [siguiente]
--2024-02-23 17:34:25--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T163424Z&X-Amz-Expires=300&X-Amz-Signature=4e254bc4eac9e528c7d6dc32ffbac549c999c6afbc326015be380e736cc6d34b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolviendo objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Conectando con objects.githubusercontent.com (objects.githubusercontent.com)[185.199.109.133]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 12322 (12K) [application/octet-stream]
Guardando como: “../data/taxi_zone_lookup.csv”

../data/taxi_zone_l 100%[===================>]  12,03K  --.-KB/s    en 0,02s

2024-02-23 17:34:25 (597 KB/s) - “../data/taxi_zone_lookup.csv” guardado [12322/12322]

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [22]:
df_result = df_join.join(df_zones, on=df_join.revenue_zone == df_zones.LocationID).drop("LocationID", "revenue_zone")

df_result.show(10)

+-------------------+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|               hour|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|                Zone|service_zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|2020-01-01 00:00:00|            195.03|                   9|220.20999999999998|                    8| Brooklyn|             Bedford|   Boro Zone|
|2020-01-01 00:00:00|               7.8|                   1|               5.8|                    1|    Bronx|        Bedford Park|   Boro Zone|
|2020-01-01 00:00:00|              87.6|                   3|            754.95|                   45|Manhattan|        Bloomingdale| Yellow Zone|
|2020-01-01 00:00:00| 68.94999999999999|                   2|              18.0|                    1|    Bronx|           Bronxdale|   Boro Zone|
|2020-01-01 00:00:00|266.76000000000005|                  14|            185.65|                   10| Brooklyn|        Clinton Hill|   Boro Zone|
|2020-01-01 00:00:00|              11.3|                   1|             48.16|                    2| Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|2020-01-01 00:00:00|              null|                null|210.27999999999997|                    3|   Queens|Flushing Meadows-...|   Boro Zone|
|2020-01-01 00:00:00|              null|                null|              18.8|                    1| Brooklyn|           Gravesend|   Boro Zone|
|2020-01-01 00:00:00| 99.36999999999999|                   6|110.74000000000001|                    7|   Queens|Long Island City/...|   Boro Zone|
|2020-01-01 00:00:00| 82.00999999999999|                   5|              20.1|                    2|    Bronx|Mott Haven/Port M...|   Boro Zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
only showing top 10 rows

In [23]:
df_result.drop("LocationID", "revenue_zone").write.parquet("../data/tmp/revenue-zones", mode="overwrite")

24/02/23 17:40:37 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers
24/02/23 17:40:37 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 84,47% for 8 writers

24/02/23 17:40:37 WARN MemoryManager: Total allocation exceeds 95,00% (906.992.014 bytes) of heap memory
Scaling row group sizes to 96,54% for 7 writers

In [24]:
df_result = spark.read.parquet("../data/tmp/revenue-zones")
df_result.printSchema()

root
 |-- hour: timestamp (nullable = true)
 |-- green_amount: double (nullable = true)
 |-- green_number_records: long (nullable = true)
 |-- yellow_amount: double (nullable = true)
 |-- yellow_number_records: long (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)