In [2]:
import pandas as pd
import yaml

In [3]:
schema_dir = "schema.yml"
rename_cols_dir = "rename_cols.yml"

In [2]:
url_csv = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz"

df_csv = pd.read_csv(url_csv, compression="gzip")
df_csv.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [3]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.0+ GB

In [4]:
url_pq = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-01.parquet"

df_pq = pd.read_parquet(url_pq, engine="pyarrow")
df_pq.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,None
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,None
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,1.0,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,None
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.0,1.0,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN,None
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.0,2.0,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN,None

In [5]:
df_pq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7696617 entries, 0 to 7696616
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(11), int64(4), object(2)
memory usage: 1.1+ GB

In [22]:
service = "yellow"
url_pq = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-01.parquet"

with open(schema_dir, 'rb') as f:
  service_schema = yaml.safe_load(f)[service]

with open(rename_cols_dir, "rb") as f:
  service_rename_cols = yaml.safe_load(f)[service]

df_pq = pd.read_parquet(url_pq, engine="pyarrow").astype(service_schema)
df_pq = df_pq.rename(columns=service_rename_cols)
df_pq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7696617 entries, 0 to 7696616
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              Int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        Int64
 4   trip_distance          float64
 5   ratecode_id            Int64
 6   store_and_fwd_flag     string
 7   pu_location_id         Int64
 8   do_location_id         Int64
 9   payment_type           Int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: Int64(6), datetime64[ns](2), float64(9), object(1), string(1)
memory usage: 1.1+ GB

In [23]:
service = "green"
url_pq = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet"

with open(schema_dir, 'rb') as f:
  service_schema = yaml.safe_load(f)[service]

with open(rename_cols_dir, "rb") as f:
  service_rename_cols = yaml.safe_load(f)[service]

df_pq = pd.read_parquet(url_pq, engine="pyarrow").astype(service_schema)
df_pq = df_pq.rename(columns=service_rename_cols)
df_pq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672105 entries, 0 to 672104
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendor_id              672105 non-null  Int64
 1   lpep_pickup_datetime   672105 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  672105 non-null  datetime64[ns]
 3   store_and_fwd_flag     630526 non-null  string
 4   ratecode_id            630526 non-null  Int64
 5   pu_location_id         672105 non-null  Int64
 6   do_location_id         672105 non-null  Int64
 7   passenger_count        630526 non-null  Int64
 8   trip_distance          672105 non-null  float64
 9   fare_amount            672105 non-null  float64
 10  extra                  672105 non-null  float64
 11  mta_tax                672105 non-null  float64
 12  tip_amount             672105 non-null  float64
 13  tolls_amount           672105 non-null  float64
 14  ehail_fee              339 non-null     float64
 15  improvement_surcharge  672105 non-null  float64
 16  total_amount           672105 non-null  float64
 17  payment_type           630526 non-null  Int64
 18  trip_type              630187 non-null  Int64
 19  congestion_surcharge   84527 non-null   float64
dtypes: Int64(7), datetime64[ns](2), float64(10), string(1)
memory usage: 107.0 MB

In [5]:
service = "fhv"
url_pq = "https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-01.parquet"

with open(schema_dir, 'rb') as f:
  service_schema = yaml.safe_load(f)[service]

with open(rename_cols_dir, "rb") as f:
  service_rename_cols = yaml.safe_load(f)[service]

df_pq = pd.read_parquet(url_pq, engine="pyarrow").astype(service_schema)
df_pq = df_pq.rename(columns=service_rename_cols)
df_pq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23159064 entries, 0 to 23159063
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    string
 1   pickup_datetime         datetime64[ns]
 2   dropoff_datetime        datetime64[ns]
 3   pu_location_id          Int64
 4   do_location_id          Int64
 5   sr_flag                 Int64
 6   affiliated_base_number  object
dtypes: Int64(3), datetime64[ns](2), object(1), string(1)
memory usage: 1.3+ GB